<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="top.scss" type="text/css">
</head>
<body>
	<div class="top">
		<img src="assets/top.jpg" alt="" />
		<img src="assets/logo.png" alt="" class="logo"/>
	</div>
	<div class="menu">
		<img src="assets/bar.png" />
		<p>
			<a href="/">Home</a>
			<a href="/members">Profile</a>
			<a href="/members">News</a>
			<a href="/members">Schedule</a>
			<a href="/discography">Discography</a>
			<a href="/members">Movie</a>
			<a href="/members">Goods</a>
			<a href="/members">Links</a>
			<a href="/users">Login</a>
		</p>
	</div>
</body>
</html>