<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
	<div class="profile">
		<img src="assets/login.png" alt="" class="title" /><br>
	</div>
	<ul>
		<div class="button">
			<%= link_to new_user_path, target: "_blank" do %>
				<%= image_tag 'login_time.png' %>
			<% end %><br>
			<%= link_to new_user_path, target: "_blank" do %>
				<%= image_tag 'register.png' %>
			<% end %>
		</div>
	</ul>
</body>
