// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{
  text-align: center;
}

.title img{
  position: absolute;
  width: 250px;
  height: auto;
  left: 150px;
  padding-bottom: 30;
  margin-bottom: 30;
}

.jacket img{
  width: 250px;
  height: auto;
  margin: 20px;
  margin-top: 100px;
  text-align:center;
}

.comment {
  position: relative;
  top: -320px;
  color: black;
}

.comment p {
  position: absolute;
  top: 0;
  left: 560px;
  text-align:left;
}

.comment img{
  width: 250px;
  height: auto; 
}

.create {
  position: relative;
  color: black;
  text-align:center;
}

.create p {
  position: absolute;
  top: 20px;
  text-align:left;
}

.item img{
  position: relative;
  width: 250px;
  height: auto;
  left: -420px;
  margin-top: 100px;
  padding-bottom: 30;
  margin-bottom: 30;
  z-index:1;
}