// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{
  text-align: center;
}

.profile *{
  width: 860px;
  height: auto;
  overflow: visible;
  position: relative;
  padding-top: 0;
  margin: 0;
}

.title{
  position: absolute;
  width: 250px;
  height: auto;
  left: 150px;
  padding-bottom: 30;
  margin-bottom: 30;
}

body {
	background-color: #FAE5F6;
	a:link {color:white; text-decoration:none }
  	a:visited { color:white; text-decoration:none }
  	a:hover { color:white; text-decoration:none }
  	a:active { color:white; text-decoration:none }
}

.member img{
	width: 1000px;
  	height: auto;
  	margin-left:0;
}

.button img{
  width: 250px;
  height: auto;
  margin-top: 200;
}